@import "../config.less";

@cls: @{perfix}-carousel;

.@{cls} {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.@{cls}-content {
    width: 200%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    transition: left 1s ease-out;
}

.@{cls}-content-reset {
    transition: none;
}

.@{cls}-item {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.@{cls}-tags {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
}

.@{cls}-tag {
    width: 10px;
    height: 3px;
    background: #999;
    margin: 0 4px;
    border-radius: 2px;
    cursor: pointer;
    transition: width 1s ease-out;
}

.@{cls}-tag-active {
    width: 16px;
    background: #eaeaea;
    transition: width 1s ease-out;
}
