@import "../config.less";

.@{perfix}-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.@{perfix}-row-middle {
    align-items: center;
}

.@{perfix}-row-top {
    align-items: flex-start;
}

.@{perfix}-row-bottom {
    align-items: flex-end;
}

.@{perfix}-row-start {
    justify-content: flex-start;
}

.@{perfix}-row-end {
    justify-content: flex-end;
}

.@{perfix}-row-center {
    justify-content: center;
}

.@{perfix}-row-around {
    justify-content: space-around;
}

.@{perfix}-row-between {
    justify-content: space-between;
}

.@{perfix}-col {
    box-sizing: border-box;

    > * {
        width: 100%;
    }
}

.@{perfix}-col-xs-1 {
    flex: 0 0 4.16%;
    width: 4.16%;
}

.@{perfix}-col-xs-2 {
    flex: 0 0 8.33%;
    width: 8.33%;
}

.@{perfix}-col-xs-3 {
    flex: 0 0 12.5%;
    width: 12.5%;
}

.@{perfix}-col-xs-4 {
    flex: 0 0 16.66%;
    width: 16.66%;
}

.@{perfix}-col-xs-5 {
    flex: 0 0 20.83%;
    width: 20.83%;
}

.@{perfix}-col-xs-6 {
    flex: 0 0 25%;
    width: 25%;
}

.@{perfix}-col-xs-7 {
    flex: 0 0 29.16%;
    width: 29.16%;
}

.@{perfix}-col-xs-8 {
    flex: 0 0 33.33%;
    width: 33.33%;
}

.@{perfix}-col-xs-9 {
    flex: 0 0 37.5%;
    width: 37.5%;
}

.@{perfix}-col-xs-10 {
    flex: 0 0 41.66%;
    width: 41.66%;
}

.@{perfix}-col-xs-11 {
    flex: 0 0 45.83%;
    width: 45.83%;
}

.@{perfix}-col-xs-12 {
    flex: 0 0 50%;
    width: 50%;
}

.@{perfix}-col-xs-13 {
    flex: 0 0 54.16%;
    width: 54.16%;
}

.@{perfix}-col-xs-14 {
    flex: 0 0 58.33%;
    width: 58.33%;
}

.@{perfix}-col-xs-15 {
    flex: 0 0 62.5%;
    width: 62.5%;
}

.@{perfix}-col-xs-16 {
    flex: 0 0 66.66%;
    width: 66.66%;
}

.@{perfix}-col-xs-17 {
    flex: 0 0 70.83%;
    width: 70.83%;
}

.@{perfix}-col-xs-18 {
    flex: 0 0 75%;
    width: 75%;
}

.@{perfix}-col-xs-19 {
    flex: 0 0 79.16%;
    width: 79.16%;
}

.@{perfix}-col-xs-20 {
    flex: 0 0 83.33%;
    width: 83.33%;
}

.@{perfix}-col-xs-21 {
    flex: 0 0 87.5%;
    width: 87.5%;
}

.@{perfix}-col-xs-22 {
    flex: 0 0 91.66%;
    width: 91.66%;
}

.@{perfix}-col-xs-23 {
    flex: 0 0 95.83%;
    width: 95.83%;
}

.@{perfix}-col-xs-24 {
    flex: 0 0 100%;
    width: 100%;
}

// 大约576生效
@media (min-width: 576px) {
    .@{perfix}-col-sm-1 {
        flex: 0 0 4.16%;
        width: 4.16%;
    }

    .@{perfix}-col-sm-2 {
        flex: 0 0 8.33%;
        width: 8.33%;
    }

    .@{perfix}-col-sm-3 {
        flex: 0 0 12.5%;
        width: 12.5%;
    }

    .@{perfix}-col-sm-4 {
        flex: 0 0 16.66%;
        width: 16.66%;
    }

    .@{perfix}-col-sm-5 {
        flex: 0 0 20.83%;
        width: 20.83%;
    }

    .@{perfix}-col-sm-6 {
        flex: 0 0 25%;
        width: 25%;
    }

    .@{perfix}-col-sm-7 {
        flex: 0 0 29.16%;
        width: 29.16%;
    }

    .@{perfix}-col-sm-8 {
        flex: 0 0 33.33%;
        width: 33.33%;
    }

    .@{perfix}-col-sm-9 {
        flex: 0 0 37.5%;
        width: 37.5%;
    }

    .@{perfix}-col-sm-10 {
        flex: 0 0 41.66%;
        width: 41.66%;
    }

    .@{perfix}-col-sm-11 {
        flex: 0 0 45.83%;
        width: 45.83%;
    }

    .@{perfix}-col-sm-12 {
        flex: 0 0 50%;
        width: 50%;
    }

    .@{perfix}-col-sm-13 {
        flex: 0 0 54.16%;
        width: 54.16%;
    }

    .@{perfix}-col-sm-14 {
        flex: 0 0 58.33%;
        width: 58.33%;
    }

    .@{perfix}-col-sm-15 {
        flex: 0 0 62.5%;
        width: 62.5%;
    }

    .@{perfix}-col-sm-16 {
        flex: 0 0 66.66%;
        width: 66.66%;
    }

    .@{perfix}-col-sm-17 {
        flex: 0 0 70.83%;
        width: 70.83%;
    }

    .@{perfix}-col-sm-18 {
        flex: 0 0 75%;
        width: 75%;
    }

    .@{perfix}-col-sm-19 {
        flex: 0 0 79.16%;
        width: 79.16%;
    }

    .@{perfix}-col-sm-20 {
        flex: 0 0 83.33%;
        width: 83.33%;
    }

    .@{perfix}-col-sm-21 {
        flex: 0 0 87.5%;
        width: 87.5%;
    }

    .@{perfix}-col-sm-22 {
        flex: 0 0 91.66%;
        width: 91.66%;
    }

    .@{perfix}-col-sm-23 {
        flex: 0 0 95.83%;
        width: 95.83%;
    }

    .@{perfix}-col-sm-24 {
        flex: 0 0 100%;
        width: 100%;
    }
}


@media (min-width: 768px) {
    .@{perfix}-col-md-1 {
        flex: 0 0 4.16%;
        width: 4.16%;
    }

    .@{perfix}-col-md-2 {
        flex: 0 0 8.33%;
        width: 8.33%;
    }

    .@{perfix}-col-md-3 {
        flex: 0 0 12.5%;
        width: 12.5%;
    }

    .@{perfix}-col-md-4 {
        flex: 0 0 16.66%;
        width: 16.66%;
    }

    .@{perfix}-col-md-5 {
        flex: 0 0 20.83%;
        width: 20.83%;
    }

    .@{perfix}-col-md-6 {
        flex: 0 0 25%;
        width: 25%;
    }

    .@{perfix}-col-md-7 {
        flex: 0 0 29.16%;
        width: 29.16%;
    }

    .@{perfix}-col-md-8 {
        flex: 0 0 33.33%;
        width: 33.33%;
    }

    .@{perfix}-col-md-9 {
        flex: 0 0 37.5%;
        width: 37.5%;
    }

    .@{perfix}-col-md-10 {
        flex: 0 0 41.66%;
        width: 41.66%;
    }

    .@{perfix}-col-md-11 {
        flex: 0 0 45.83%;
        width: 45.83%;
    }

    .@{perfix}-col-md-12 {
        flex: 0 0 50%;
        width: 50%;
    }

    .@{perfix}-col-md-13 {
        flex: 0 0 54.16%;
        width: 54.16%;
    }

    .@{perfix}-col-md-14 {
        flex: 0 0 58.33%;
        width: 58.33%;
    }

    .@{perfix}-col-md-15 {
        flex: 0 0 62.5%;
        width: 62.5%;
    }

    .@{perfix}-col-md-16 {
        flex: 0 0 66.66%;
        width: 66.66%;
    }

    .@{perfix}-col-md-17 {
        flex: 0 0 70.83%;
        width: 70.83%;
    }

    .@{perfix}-col-md-18 {
        flex: 0 0 75%;
        width: 75%;
    }

    .@{perfix}-col-md-19 {
        flex: 0 0 79.16%;
        width: 79.16%;
    }

    .@{perfix}-col-md-20 {
        flex: 0 0 83.33%;
        width: 83.33%;
    }

    .@{perfix}-col-md-21 {
        flex: 0 0 87.5%;
        width: 87.5%;
    }

    .@{perfix}-col-md-22 {
        flex: 0 0 91.66%;
        width: 91.66%;
    }

    .@{perfix}-col-md-23 {
        flex: 0 0 95.83%;
        width: 95.83%;
    }

    .@{perfix}-col-md-24 {
        flex: 0 0 100%;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .@{perfix}-col-lg-1 {
        flex: 0 0 4.16%;
        width: 4.16%;
    }

    .@{perfix}-col-lg-2 {
        flex: 0 0 8.33%;
        width: 8.33%;
    }

    .@{perfix}-col-lg-3 {
        flex: 0 0 12.5%;
        width: 12.5%;
    }

    .@{perfix}-col-lg-4 {
        flex: 0 0 16.66%;
        width: 16.66%;
    }

    .@{perfix}-col-lg-5 {
        flex: 0 0 20.83%;
        width: 20.83%;
    }

    .@{perfix}-col-lg-6 {
        flex: 0 0 25%;
        width: 25%;
    }

    .@{perfix}-col-lg-7 {
        flex: 0 0 29.16%;
        width: 29.16%;
    }

    .@{perfix}-col-lg-8 {
        flex: 0 0 33.33%;
        width: 33.33%;
    }

    .@{perfix}-col-lg-9 {
        flex: 0 0 37.5%;
        width: 37.5%;
    }

    .@{perfix}-col-lg-10 {
        flex: 0 0 41.66%;
        width: 41.66%;
    }

    .@{perfix}-col-lg-11 {
        flex: 0 0 45.83%;
        width: 45.83%;
    }

    .@{perfix}-col-lg-12 {
        flex: 0 0 50%;
        width: 50%;
    }

    .@{perfix}-col-lg-13 {
        flex: 0 0 54.16%;
        width: 54.16%;
    }

    .@{perfix}-col-lg-14 {
        flex: 0 0 58.33%;
        width: 58.33%;
    }

    .@{perfix}-col-lg-15 {
        flex: 0 0 62.5%;
        width: 62.5%;
    }

    .@{perfix}-col-lg-16 {
        flex: 0 0 66.66%;
        width: 66.66%;
    }

    .@{perfix}-col-lg-17 {
        flex: 0 0 70.83%;
        width: 70.83%;
    }

    .@{perfix}-col-lg-18 {
        flex: 0 0 75%;
        width: 75%;
    }

    .@{perfix}-col-lg-19 {
        flex: 0 0 79.16%;
        width: 79.16%;
    }

    .@{perfix}-col-lg-20 {
        flex: 0 0 83.33%;
        width: 83.33%;
    }

    .@{perfix}-col-lg-21 {
        flex: 0 0 87.5%;
        width: 87.5%;
    }

    .@{perfix}-col-lg-22 {
        flex: 0 0 91.66%;
        width: 91.66%;
    }

    .@{perfix}-col-lg-23 {
        flex: 0 0 95.83%;
        width: 95.83%;
    }

    .@{perfix}-col-lg-24 {
        flex: 0 0 100%;
        width: 100%;
    }
}


@media (min-width: 1200px) {
    .@{perfix}-col-xl-1 {
        flex: 0 0 4.16%;
        width: 4.16%;
    }

    .@{perfix}-col-xl-2 {
        flex: 0 0 8.33%;
        width: 8.33%;
    }

    .@{perfix}-col-xl-3 {
        flex: 0 0 12.5%;
        width: 12.5%;
    }

    .@{perfix}-col-xl-4 {
        flex: 0 0 16.66%;
        width: 16.66%;
    }

    .@{perfix}-col-xl-5 {
        flex: 0 0 20.83%;
        width: 20.83%;
    }

    .@{perfix}-col-xl-6 {
        flex: 0 0 25%;
        width: 25%;
    }

    .@{perfix}-col-xl-7 {
        flex: 0 0 29.16%;
        width: 29.16%;
    }

    .@{perfix}-col-xl-8 {
        flex: 0 0 33.33%;
        width: 33.33%;
    }

    .@{perfix}-col-xl-9 {
        flex: 0 0 37.5%;
        width: 37.5%;
    }

    .@{perfix}-col-xl-10 {
        flex: 0 0 41.66%;
        width: 41.66%;
    }

    .@{perfix}-col-xl-11 {
        flex: 0 0 45.83%;
        width: 45.83%;
    }

    .@{perfix}-col-xl-12 {
        flex: 0 0 50%;
        width: 50%;
    }

    .@{perfix}-col-xl-13 {
        flex: 0 0 54.16%;
        width: 54.16%;
    }

    .@{perfix}-col-xl-14 {
        flex: 0 0 58.33%;
        width: 58.33%;
    }

    .@{perfix}-col-xl-15 {
        flex: 0 0 62.5%;
        width: 62.5%;
    }

    .@{perfix}-col-xl-16 {
        flex: 0 0 66.66%;
        width: 66.66%;
    }

    .@{perfix}-col-xl-17 {
        flex: 0 0 70.83%;
        width: 70.83%;
    }

    .@{perfix}-col-xl-18 {
        flex: 0 0 75%;
        width: 75%;
    }

    .@{perfix}-col-xl-19 {
        flex: 0 0 79.16%;
        width: 79.16%;
    }

    .@{perfix}-col-xl-20 {
        flex: 0 0 83.33%;
        width: 83.33%;
    }

    .@{perfix}-col-xl-21 {
        flex: 0 0 87.5%;
        width: 87.5%;
    }

    .@{perfix}-col-xl-22 {
        flex: 0 0 91.66%;
        width: 91.66%;
    }

    .@{perfix}-col-xl-23 {
        flex: 0 0 95.83%;
        width: 95.83%;
    }

    .@{perfix}-col-xl-24 {
        flex: 0 0 100%;
        width: 100%;
    }
}


.@{perfix}-col-span-1 {
    flex: 0 0 4.16%;
    width: 4.16%;
}

.@{perfix}-col-span-2 {
    flex: 0 0 8.33%;
    width: 8.33%;
}

.@{perfix}-col-span-3 {
    flex: 0 0 12.5%;
    width: 12.5%;
}

.@{perfix}-col-span-4 {
    flex: 0 0 16.66%;
    width: 16.66%;
}

.@{perfix}-col-span-5 {
    flex: 0 0 20.83%;
    width: 20.83%;
}

.@{perfix}-col-span-6 {
    flex: 0 0 25%;
    width: 25%;
}

.@{perfix}-col-span-7 {
    flex: 0 0 29.16%;
    width: 29.16%;
}

.@{perfix}-col-span-8 {
    flex: 0 0 33.33%;
    width: 33.33%;
}

.@{perfix}-col-span-9 {
    flex: 0 0 37.5%;
    width: 37.5%;
}

.@{perfix}-col-span-10 {
    flex: 0 0 41.66%;
    width: 41.66%;
}

.@{perfix}-col-span-11 {
    flex: 0 0 45.83%;
    width: 45.83%;
}

.@{perfix}-col-span-12 {
    flex: 0 0 50%;
    width: 50%;
}

.@{perfix}-col-span-13 {
    flex: 0 0 54.16%;
    width: 54.16%;
}

.@{perfix}-col-span-14 {
    flex: 0 0 58.33%;
    width: 58.33%;
}

.@{perfix}-col-span-15 {
    flex: 0 0 62.5%;
    width: 62.5%;
}

.@{perfix}-col-span-16 {
    flex: 0 0 66.66%;
    width: 66.66%;
}

.@{perfix}-col-span-17 {
    width: 70.83%;
    flex: 0 0 70.83%;
}

.@{perfix}-col-span-18 {
    flex: 0 0 75%;
    width: 75%;
}

.@{perfix}-col-span-19 {
    flex: 0 0 79.16%;
    width: 79.16%;
}

.@{perfix}-col-span-20 {
    width: 83.33%;
    flex: 0 0 83.33%;
}

.@{perfix}-col-span-21 {
    flex: 0 0 87.5%;
    width: 87.5%;
}

.@{perfix}-col-span-22 {
    flex: 0 0 91.66%;
    width: 91.66%;
}

.@{perfix}-col-span-23 {
    flex: 0 0 95.83%;
    width: 95.83%;
}

.@{perfix}-col-span-24 {
    flex: 0 0 100%;
    width: 100%;
}
